

body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #313538;
  margin: 0;
  padding: 40px 20px;
}

.blog-post-card {
  background-color: White;
  border-radius: 16px;
  width: 1000px;
  max-width: 900px;
  margin: 40px auto;
  text-align: center;
  overflow: hidden;
  min-height: 72vh;
}

.post-img {
  width: 100%;
  display: block;
  border-bottom: 1px solid #ddd; 
}

.post-content {
  padding: 20px;
}

.post-title {
  margin: 0 0 40px 0;
  color: #2c3e50;
  font-size: 5.4rem;
  line-height: 1.1;
}

.post-excerpt {
  margin: 0 0 40px 0;
  color: #555;
  margin: 0 20px;
  line-height: 1.4;
  font-size: 3.0rem;
}


.read-more {
  display: inline-block;
  background-color: #0066cc;
  color: white;
  padding: 19px 50px;
  margin: 60px 0 0 0;
  font-size: 2.3rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s;
}

.read-more:hover {
  background-color: #0055aa;
}

